@using Hiver.ViewModels.Common;
@model PagedResult<Hiver.ViewModels.Catalog.Products.ProductVm>

@{
    ViewData["Title"] = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Css{
    <!-- nouisliderribute css -->
    <link rel="stylesheet" href="assets/libs/nouislider/nouislider.min.css">

    <!-- gridjs css -->
    <link rel="stylesheet" href="assets/libs/gridjs/theme/mermaid.min.css">
}

@section Scripts{


}

<div class="row">
    <div class="card mb-12">
        <div class="card-header">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <a class="btn btn-success" asp-action="Create" asp-controller="Product">Tạo mới</a>
                </div>
                <div class="col-md-9 col-xs-12">
                    <form asp-action="Index" method="get">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="text" value="@ViewBag.Keyword" name="keyword" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <select name="categoryId" onchange="this.form.submit()" asp-items="@ViewBag.Categories" class="form-control">
                                    <option>--Chọn danh mục--</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-primary">Tìm</button>
                                <button type="button" onclick="window.location.href='/Product/Index'" class="btn btn-dark">Reset</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
               
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                Sản phẩm
                            </th>
                            <th>
                               Ngày tạo
                            </th>
                            <th>
                                Người tạo
                            </th>
                            <th>
                                Hành động
                            </th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-3">
                                            <div class="avatar-sm bg-light rounded p-1">
                                            <img src="assets/images/products/img-1.png" alt="" class="img-fluid d-block"></div>
                                        </div>
                                        <div class="flex-grow-1">
                                            <h5 class="fs-14 mb-1">
                                                <a href="/Product/Details/@item.Id" class="text-dark">@Html.DisplayFor(modelItem => item.Name)</a>
                                            </h5><p class="text-muted mb-0">Mã SP : <span class="fw-medium">@Html.DisplayFor(modelItem => item.Code)</span></p>
                                        </div>
                                    </div>
                                    
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreateBy)
                                </td>
                                <td>
                                    @Html.ActionLink("Xem", "Details", new { id = item.Id }, new { @class = "text-reset text-decoration-underline" }) |
                                    @Html.ActionLink("Xóa", "Delete", new { id = item.Id }, new { @class = "text-reset text-decoration-underline" })
                                    @*@Html.ActionLink("Gán danh mục", "CategoryAssign", new { id = item.Id })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @await Component.InvokeAsync("Pager", Model)
        </div>
    </div>
</div>