@model IEnumerable<Hiver.ViewModels.Common.MenuViewModel>

@foreach (var menu in Model)
{
    if (menu.MenuOrder == 1) // Check vị trí menu
    {
        if (menu.Children.Any())
        {
            
        }
        else
        {
            <li class="has-sub">
                <a href="@menu.Url">
                    @if (menu.IconNumber.Trim() == "")
                    {
                        <i class="@menu.IconClass"></i>
                        <span>@menu.MenuName</span>
                    }
                    else
                    {
                        <span class="badge pull-right">@menu.IconNumber</span>
                        <i class="@menu.IconClass"></i>
                        <span>@menu.MenuName</span>
                    }
                </a>
            </li>

        }
    }

}

