@model IEnumerable<Hiver.ViewModels.Common.MenuViewModel>

@foreach (var menu in Model)
{
    if (menu.Children.Any())
    {
        <li class="dropdown">
            <a href="javascript:;" class="dropdown-toggle text-ellipsis text-muted" data-toggle="dropdown">
                @if (menu.IconNumber == "")
                {
                    <i class="@menu.IconClass fa-fw text-inverse mr-1 mr-md-0"></i>
                    <span>@menu.MenuName</span>
                    <b class="caret ml-1 ml-md-0"></b>
                }
                else
                {
                    <i class="@menu.IconClass fa-fw text-inverse mr-1 mr-md-0"></i>
                    <span>@menu.MenuName</span>
                    <span class="badge ml-1 ml-md-0">@menu.IconNumber</span>
                }
            </a>
            <div class="dropdown-menu">
                <ul class="nav d-block" style="padding:10px;">
                    <partial name="Components/Menu/_MenuPartial" model="menu.Children" />
                </ul>
            </div>
        </li>
    }
    else
    {
        <li class="pb-1">
            
            <a href="@menu.Url" class="text-ellipsis text-muted">
                @if (menu.IconNumber == "")
                {
                    <i class="@menu.IconClass fa-fw text-inverse mr-1 mr-md-0"></i>
                    <span>@menu.MenuName</span>
                }
                else
                {
                    <i class="@menu.IconClass fa-fw text-inverse mr-1 mr-md-0"></i>
                    <span>@menu.MenuName</span>
                    <span class="badge ml-1 ml-md-0">@menu.IconNumber</span>

                }
            </a>

        </li>

    }
}



