@model IEnumerable<Hiver.ViewModels.Common.MenuViewModel>

@foreach (var menu in Model)
{
    if (menu.MenuOrder == 1) // Check vị trí menu
    {
        if (menu.Children.Any())
        {
            <li class="">
                <a href="javascript:;" class="">
                    <span class="title">@menu.MenuName</span>
                    <span class="arrow"></span>
                </a>
                <span class="icon-thumbnail"><i class="material-icons">@menu.IconClass</i></span>
                <ul class="sub-menu" style="display: none;">
                    <partial name="Components/Menu/_MenuPartial" model="menu.Children" />
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item">
                @{
                    if (string.IsNullOrEmpty(menu.Url))   //Add either onclick event or href.
                    {
                        <a>
                            <span class="title">@menu.MenuName</span>
                            <!--<span class="details">-->@*12 New Updates*@<!--</span>-->
                        </a>
                        <span class="icon-thumbnail"><i class="material-icons">@menu.IconClass</i></span>
                    }
                    else
                    {
                        <a href="@menu.Url">
                            <span class="title">@menu.MenuName</span>
                            @*<span class="details">12 New Updates</span>*@
                        </a>
                        <span class="icon-thumbnail"><i class="material-icons">@menu.IconClass</i></span>
                    }
                }
            </li>
        }
    }

}