

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - Administration</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="../dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>
<body class="sb-nav-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">

        <!-- Navbar -->
        @await Html.PartialAsync("~/Views/Shared/CustomLayout/_Header.cshtml")
        <!-- /.navbar -->

        <!-- Main Sidebar Container -->
        @await Html.PartialAsync("~/Views/Shared/CustomLayout/_SideMenu.cshtml")

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <div class="testmessage" id="IdOfElementToDisplayMessage"></div>
            @if (TempData["AlertMessage"] != null)
            {
                <div class="alert @TempData["AlertType"] hide" role="alert">
                    @TempData["AlertMessage"]
                </div>
            }    
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.0.4
            </div>
            <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
            reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->


    <!-- jQuery -->
    <script src="../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../dist/js/demo.js"></script>

    <script src="../microsoft/signalr/dist/browser/signalr.js"></script>
    <script src="~/Style/site.js"></script>
    @RenderSection("Scripts", required: false)

<script type="text/javascript">
    $('#AlerBox').removeClass('hide')
    $('#AlerBox').delay(1000).slide(500);

</script>
</body>
</html>